h1 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.component-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.component-box {
    padding: 5px 15px;
    border: 1px solid #25AAA0;
    background-color: #84e8df;
    margin: 5px 10px;
    min-width: 100px;

    p {
        margin: 0;
        padding: 2px 0;
        text-align: center;
        
        &:first-child {
            font-weight: bold;
        }
    }
}